body{
        background-image: url(animal_crossing_background.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;}

h1{color:rgb(251, 209, 59);
    font-size: 90px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-top: 50px;
    }
h4{color:rgb(251, 165, 59);
    font-size: 16px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-bottom: 5px;
    } 

.fauna{
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 50%;
}
.gala{
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 50%;
}

