body{
    background-image: url(animal_crossing_background.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;}

h1{color:rgb(251, 209, 59);
    font-size: 105px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-top: 50px;
    }
h4{color: aliceblue;
    font-size: 20px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-bottom: 5px;
    } 
h3{color:rgb(246, 178, 94);
    font-size: 14px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-bottom: 5px;
    } 

.row{font-family: FOT-Seurat Pro B;}
.row p {color: aliceblue;
        font-size: 17px;
        margin: 10px;
        margin-left: 170px;
}
.sandbox p{
  margin-left: 135px;
}
.horror p{
  margin-left: 180px;
}
.summary{animation-name: waveTitle;
          animation-duration: 5s;
          animation-iteration-count: infinite;
}
@keyframes waveTitle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }

}

.cherry{
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 50%;
}
.cherry{
  margin-left: 150px;
}
.gloria{
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 50%;
}
.lucky{
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  width: 50%;
}

/* adventure */
h2{color:rgb(251, 209, 59);
    font-size: 70px;
    text-shadow: 1px 0.5px #783903;
    text-align: center;
    padding-top: 50px;
    }
strong{
  color:aliceblue;
  font-size: 21px;
  text-shadow: 1px 0.9px #000000;
}

p{
  color:rgb(251, 165, 59);
  text-shadow: 1px 1px #783903;
  font-size: 17px;
}

figure{display: flex;
    width: 40%; 
    padding-bottom: 10px; 
    padding-top: 2%;    
    box-sizing: border-box; 
    margin-left: 80px;
    margin-right: 5px;
    margin-bottom: 1px;
}
figure img{margin:10px;}
figure figcaption{text-align: left; margin: 10px;}

.content { 
    clear: both; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
} 

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: right;
}
.image {
  display: flex;
  width: auto;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #daf6ff;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color:rgb(0, 0, 0);
  text-shadow: 1px 1px #783903;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {font-family: FOT-Seurat Pro B;}


.secondrow {
  margin-left: 25px;
}

/* button stuff */

.button {
  border: 2px solid;
  background-color: rgb(252, 223, 120);
  color:rgb(251, 165, 59);
  text-shadow: 1px 1px #783903;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {font-family: FOT-Seurat Pro B;}

a:link{
  color:rgb(251, 165, 59);
}
a:visited{
  color:rgb(251, 165, 59);
}
.buttoncontainer{
  height: 200px;
  position: relative;
  margin-left: 680px;
}